* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
    
pre {
  margin: 1em;
}

@media screen and (max-width: 480px) {
  pre {
    font-size: 2em;
  }
}
    
pre.title {
  color:#881280;
}
    
pre.time {
  color:#236E25;
}

.pos {
  left: 50%;
  top: 40%;
  position: absolute;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  text-align: center;
}
