* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
    
pre {
    margin: 1em;
}

@media screen and (max-width: 480px) {
    pre {
        font-size: 2em;
    }
}
    
pre.title {
    color:#881280;
}
    
pre.time {
    color:#236E25;
}

#pos {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
